.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    /* margin-left: 0;
    padding-left: 0; */
}

.Success {
    color: #5C9210;
    border: 1px solid green;
    box-shadow: 1px 2px 3px green;
}

.Danger {
    color: #944317;
    border:1px solid red;
    box-shadow: 1px 2px 3px red;
}